<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Storico Pagamenti</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background: #71a1cb;
        }
        main{
            margin-top: 175px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        table{
            margin-top: 75px;
            border-collapse: collapse;
            border-spacing: 0;
            max-width: 600px;
            width: 100%;
        }
        td, th{
            text-align: center;
            border-bottom: 2px solid #ccc;
            padding: 5px;
            background: #f1f1f1;
        }
        th{
            background: #588dbc;
            color: #f1f1f1;
            text-transform: uppercase;
        }
        tr th:first-child{
            border-radius:5px 0  0 0 ;
        }
        tr th:last-child{
            border-radius: 0 5px 0 0 ;
        }
        tr:last-child td:last-child{
            border-radius: 0 0 5px 0;
        }
        tr:last-child td:first-child{
            border-radius: 0 0 0 5px;
        }
        tr:last-child td{
            border: none;
        }
    </style>
</head>
<body>
    <%- include('../adminComponents/header.ejs') %>
    <main>
        <table>
            <thead>
                <th>Data</th>
                <th>Importo</th>
                <th>Metodo</th>
                <th>Fattura di cortesia</th>
            </thead>
            <tbody>
                <tr>
                    <% pagamenti.forEach(pagamento => { %>
                        <tr>
                            <td><%= pagamento.data %></td>
                            <td><%= pagamento.importo %>€</td>
                            <td>
                                <% if (pagamento.paymentUrl) { %>
                                    <% 
                                        const services = ['Paypal', 'Satispay', 'Codice'];
                                        const cleanedUrl = pagamento.paymentUrl.replace(/^https?:\/\/(www\.)?/, '').split('/')[0].toLowerCase();
                                        let paymentMethod;
                                        for(const service of services){
                                            if(cleanedUrl.includes(service.toLowerCase())){
                                                paymentMethod = service;
                                                break;
                                            }
                                        }
                                    %>
                                    <% if (paymentMethod != 'Codice') { %>
                                        <a href="<%= pagamento.paymentUrl %>"><%= paymentMethod %></a>
                                    <% }else{ %>
                                        <%= paymentMethod %>
                                    <% } %>
                                <% }else{ %>
                                    La traccia dei pagamenti è tenuta dall'11/09/2024
                                <% } %>
                            </td>
                            <td>
                                <% if (pagamento.fileCortesia) { %>
                                    <button class="downloadFatturaCortesia" title="fattura di cortesia" data-file="<%= pagamento.fileCortesia %>" type="button" style="background: none; border: none; outline: none; cursor: pointer;">
                                        <span class="material-symbols-outlined pagamenti">
                                            receipt
                                        </span>
                                    </button>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </main>
    <script>
        document.querySelectorAll('.downloadFatturaCortesia').forEach(btn => {
            btn.addEventListener('click', async (event) => {
                try {
                    const response = await fetch('/admin/downloadFatturaCortesia', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ file: btn.dataset.file })
                    });
                    if (response.ok) {
                        const blob = await response.blob();
                        const contentDisposition = response.headers.get('Content-Disposition');
                        let fileName;

                        if (contentDisposition && contentDisposition.indexOf('filename=') !== -1) {
                            const matches = /filename="([^"]+)"/.exec(contentDisposition);
                            if (matches && matches[1]) {
                                fileName = matches[1];
                            }
                        }
                    
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        a.remove();
                    } else {
                        throw new Error('Errore durante il download della fattura di cortesia');
                    }
                } catch (error) {
                    alert('Errore durante il download della fattura di cortesia');
                }
            });
        });
    </script>
</body>
</html>