<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenota Guide</title>
    <link rel="stylesheet" href="/styles/guideBooking.css">
</head>
<body>
    <header> <%= nome %></header>


    <% for(var i = 0; i < lezioni.length; i++) { %>
        <% let booked = 0 %> 
        <% for(j = 0; j < lezioni[i].book.length; j++) {
            booked = (lezioni[i].book[j].student && lezioni[i].book[j].student != nome) ? booked+1 : booked;
        }%>
        
        <% if(booked < lezioni[i].book.length){ %>

        <table>

            <tr>
                <th>data</th>
                <th><%= lezioni[i].instructor %></th>
            </tr>

            <% for(j = 0; j < lezioni[i].book.length; j++) { %>

                <tr>
                    <% if(!lezioni[i].book[j].student){ %>
                        <td><%= lezioni[i].book[j].dateHour %></td>
                        <td class="book" data-time="<%= lezioni[i].book[j].dateHour %>"
                            data-instructor="<%= lezioni[i].instructor %>">Prenota</td>
                    <% } %>

                    <% if(lezioni[i].book[j].student == nome){ %>
                        <td><%= lezioni[i].book[j].dateHour %></td>
                        <td class="removeBooking" data-time="<%= lezioni[i].book[j].dateHour %>"
                            data-instructor="<%= lezioni[i].instructor %>">
                                Rimuovi prenotazione
                        </td>
                    <% } %>
                </tr>

            <% } %>
        </table>
        <% }%>
    <% } %>
    
    <script>

        const studente = '<%= nome %>'
        const removeBooking = document.querySelectorAll('.removeBooking');
        removeBooking.forEach((cell) =>{ 
            cell.addEventListener("click", removeBookHandler);
        });

        function removeBookHandler(event) {
            const cell = event.currentTarget;
            removeBook(cell);
            cell.removeEventListener("click", removeBookHandler);
        }

        function removeBook(cella){
    const instructor = cella.dataset.instructor;
    const time = cella.dataset.time;
    console.log(time, instructor, studente);
    fetch('/removebooking', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ instructor: instructor, time: time, student: studente })
    })
    .then(response => {
        if (response.ok) {
            console.log('prenotazione rimossa con successo');
            cella.innerHTML = 'Prenota';
            cella.classList.add('book');
            cella.classList.remove('removeBooking');
        } else {
            console.error('Errore durante la rimozione della prenotazione');
        }
    })
    .catch(error => {
        console.error('Errore durante la rimozione della prenotazione:', error);
    });
}



        const cells = document.querySelectorAll('.book');
cells.forEach((cell) => {
    cell.addEventListener("click", bookHandler);
});

function bookHandler(event) {
    const cell = event.currentTarget;
    book(cell);
    cell.removeEventListener("click", bookHandler);
}

function book(cella){
    const instructor = cella.dataset.instructor;
    const time = cella.dataset.time;
    console.log(time, instructor, studente);
    fetch('/book', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ instructor: instructor, time: time, student: studente })
    })
    .then(response => {
        if (response.ok) {
            console.log('Prenotazione effettuata');
            cella.innerHTML = 'Rimuovi prenotazione';
            cella.classList.remove('book');
            cella.classList.add('removeBooking');
        } else {
            console.error('Errore durante la prenotazione');
        }
    })
    .catch(error => {
        console.error('Errore durante la prenotazione:', error);
    });
}

    

        
    </script>
</body>
</html>
