<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenota Guide</title>
    <link rel="icon" href="/styles/img/image.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/guideBooking.css">
    <!-- icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- calendario -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body>
    <header class="header">
        <img id="mobileLogo" src="/styles/img/image.png" alt="">
        <img id="desktopLogo" src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px">
        <div class="actions">
            <% if (storicoGuide.lessonList.length > 0) { %>
                <button class="storico">Storico Guide</button>
            <% } else{ %>
                <button class="storico disabled" disabled>Storico Guide</button>
            <% } %>
            
            <a style="color: red;" href="/userLogout" >LogOut</a>
        </div>
        <script>
            const storico = document.querySelector('.storico');
            storico.addEventListener('click', () => {
                document.querySelector('.storicoGuide').style.display = 'block';
            });
            function logout() {
                browser.cookies.remove('userName');
            }
        </script> 

    </header>
    <% if(!esami.exams[0].paid){ %>
        <h1 class="warning">Per poter prenotare le lezioni di guida devi pagare l'esame</h1>
    <% } %>
    <aside>     
            <% const esame = esami.exams; %>
            <% let toPay = 0 %>
            <% let bocciati = 0 %>
            <% let totExams = 0 %>

                <% for( let i = 0; i < esami.exams.length; i++ ) { %>
                    <% if (!esami.exams[i].paid) {
                        toPay++;
                    } %>
                    <% if (esami.exams[i].bocciato) {
                        bocciati++;
                    } %>
                    <% totExams++ %>
                <% } %>
                
                <% if (!esame[0].paid || (toPay <= bocciati && toPay+bocciati==totExams) ) { %> 
                    <div class="esami">
                        <nav>Prenotazione esami di guida</nav>
                        
                        <% var print = true; %>
                        <% for( let i = 0; i < esame.length; i++ ) { %>
                            <% if (i<3) { %>
                                <div class="esame">
                                    <% if(print == true){ %>
                                        <p>
                                            <%= i+1 %>° Esame:  
                                            <% if (esame[i].paid == true) { %>
                                                <% if (esame[i].bocciato == true) { %>
                                                    <% print = true %>
                                                <% } else{
                                                    print = false;
                                                }%>
                                                <strong class="pagato">PAGATO</strong>  
                                            <% } else{ %> 
                                                <% print = false %>
                                                <strong data-esame="<%= i %>" class="daPagare">DA PAGARE</strong>  
                                            <% } %>
                                        </p>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
                <span  class="material-symbols-outlined" id="data" name="data" readonly></span>
                <div class="bacheca">
                    <nav>Bacheca</nav>
                    <div class="bachecaText">
                        <%- bachecaContent.content %>
                    </div>
                </div>
                </span>
    </aside>
    <main>
    <div class="storicoGuide" style="display: none;">
        <a href=" ">
            <span class="material-symbols-outlined">
                cancel
            </span>
        </a>
        <h2>Storico Guide</h2>
        <table>
            <thead>
                <tr>
                    <th>Istruttore</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Durata</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < storicoGuide.lessonList.length; i++) { %>
                    <tr>
                        <td class="first" data-label="Istruttore"><%= storicoGuide.lessonList[i].istruttore %></td>
                        <td data-label="Giorno"><%= storicoGuide.lessonList[i].giorno %></td>
                        <td data-label="Ora"><%= storicoGuide.lessonList[i].ora %></td>
                        <td class="last" data-label="Durata"><%= storicoGuide.lessonList[i].duration < 1 ? storicoGuide.lessonList[i].duration * 60 + 'min' : storicoGuide.lessonList[i].duration.toFixed(2) + 'h'%></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%if(esame[0].paid){ %>
    <div class="container">
        <% for(var i = 0; i < lezioni.length; i++) { %>
            <% let exclude = false %>
            <% for( let j = 0; j < excludeInstructor.length; j++ ) { %>
                <% if (excludeInstructor[j].instructor == lezioni[i].instructor) { %>
                    <% exclude = true; %>
                <% } %>
            <% } %>
            <% if (exclude) { %>
                <% continue; %>
            <% } %>
        <% let dateElaborate = []; %>
        <% let hasAvailableTime = false; %>
        <% for(j = 0; j < lezioni[i].book.length; j++) { %>
        <% if (!dateElaborate.includes(lezioni[i].book[j].day)) { %>
        <% dateElaborate.push(lezioni[i].book[j].day); %>
        
        <% let hasStudentBooking = false; %>
        <% for(k = 0; k < lezioni[i].book[j].schedule.length; k++) { %>
            <% const schedule = lezioni[i].book[j].schedule[k]; %>
            <% if(!schedule.student) { %>
                <% hasAvailableTime = true; %>
            <% } else if (schedule.student == nome) { %>
                <% hasStudentBooking = true; %>
            <% } %>
        <% } %>
    
        <% if((hasAvailableTime || hasStudentBooking) && (lezioni[i].instructor.split(' '))[0] != 'Esame') { %>
        <section class="section" data-date="<%= lezioni[i].book[j].day %>">
            <h2 class="section-title"> <span>Istruttore: <%= (lezioni[i].instructor.split(' '))[0] %></span> <br> Data: <%= lezioni[i].book[j].day %></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ora</th>
                    </tr>
                </thead>
                <tbody>
                    <% let lessonBookedYet = 0;%>
                    <% for(k = 0; k < lezioni[i].book[j].schedule.length; k++) { %>
                    <% const schedule = lezioni[i].book[j].schedule[k]; %>

                    
                    <% if(!schedule.student && lessonBookedYet != 2) { %>
                    <tr>
                        <td class="hour"><%= schedule.hour %></td>
                        <td>
                            <button class="book" data-location="<%= schedule.locationLink %>" data-time="<%= lezioni[i].book[j].day %> - <%= schedule.hour %>"
                                data-instructor="<%= lezioni[i].instructor %>"
                                data-price="<%= schedule.price %>">Costo: <%= Number(schedule.price).toFixed(2) %>€ <br> <strong>PRENOTA</strong></button>
                        </td>
                    </tr>
                    <% } else if (schedule.student == nome) { %>
                    <tr>
                        <td class="hour"><%= schedule.hour %></td>
                        <td>
                            <button class="removeBooking" data-location="<%= schedule.locationLink %>" data-time="<%= lezioni[i].book[j].day %> - <%= schedule.hour %>"
                                data-instructor="<%= lezioni[i].instructor %>">Prenotato</button>
                        </td>
                    </tr>
                    <% } else if(!schedule.student && lessonBookedYet == 2){ %>
                        <tr>
                            <td class="hour"><%= schedule.hour %></td>
                            <td>
                                <button class="bookDisabled" data-location="<%= schedule.locationLink %>" data-time="<%= lezioni[i].book[j].day %> - <%= schedule.hour %>"
                                    data-instructor="<%= lezioni[i].instructor %>">Disattivato</button>
                            </td>
                        </tr>
                    <% } %>
                    <% if(schedule.student) { 
                        lessonBookedYet = 1;
                        continue;
                    }%>
                    <% lessonBookedYet = lessonBookedYet == 1 || lessonBookedYet== 2? 2: 0; %>
                    <% } %>
                </tbody>
            </table>
        </section>
        <% } %>
        <% } %>
        <% } %>
        <% } %>
    </div>
    <% }%>
    <!-- <h1 class="warning noGuide">Non ci sono guide in programma per il giorno selezionato</h1> -->
    </main>
    <div id="paymentModal" class="paymentModal modal" style="display: none;">
        <a href=" ">
            <span class="material-symbols-outlined">
                cancel
            </span>
        </a>
        <form id="paymentForm" action="/create-payment" method="POST">
            <input type="hidden" id="causeInput" name="cause" value="">
            <input type="hidden" id="locationInput" name="location" value="">
            <div class="form-group">
                <label for="price" id="priceLabel"></label>
                <input type="hidden" id="priceInput" name="price" value="">
                <input type="hidden" id="studentInput" name="student" value="<%= nome %>">
            </div>
                    <input type="hidden" id="instructorInput" name="instructor" value="">
                    <input type="hidden" id="timeInput" name="time" value="">
                    <input type="hidden" id="numEsameInput" name="numEsame" value=""> 
            <button id="payButton" type="submit" class="btn btn-primary"><i class="fa fa-paypal"></i> Paga con PayPal</button>
        </form>
    </div>
    
    <script>
$(function() {
    $("#data").datepicker({
        dateFormat: 'dd/mm/yy',
        minDate: 0, // oggi
        beforeShowDay: function(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
        
            // Formattazione data
            var dateString = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;

            var sectionExists = $('.section[data-date="' + dateString + '"]').length > 0;
            var removeBookingExists = $('.section[data-date="' + dateString + '"] .removeBooking').length > 0;

            if (sectionExists) {
                if (removeBookingExists) {
                    return [true, "redDate disabled", "Non ci sono guide libere"];
                } else {
                    return [true, "greenDate", "Ci sono guide libere"];
                }
            } else {
                return [true, "redDate disabled", "Non ci sono guide libere"];
            }
        },
        onSelect: function(dateText, inst) {
            updateSectionsVisibility(dateText);
        }
    });

    selectFirstGreenDate();
});


function selectFirstGreenDate() {
    var firstGreenDateStr = $('.greenDate > a').data("date");
    if (firstGreenDateStr) {       
        var today = (new Date()).getDate();
        if(today == firstGreenDateStr){
            $('.greenDate > a').datepicker("setDate", today);
            updateSectionsVisibility($("#data").val());
        }else{
            $("#data").datepicker("setDate", firstGreenDateStr - today);
            updateSectionsVisibility($("#data").val());
        }
    } else {
        console.log("Nessuna data greenDate trovata.");
    }
}

function updateSectionsVisibility(selectedDate) {
    var sections = document.querySelectorAll('.section');
    var noGuideElement = document.querySelector('.noGuide');
    var noGuide = true;
    sections.forEach(function (section) {
        if (section.getAttribute('data-date') === selectedDate) {
            section.style.display = 'block';
            noGuide = false;
        } else {
            section.style.display = 'none';
        }
    });

    if (noGuide) {
        noGuideElement.style.display = 'block';
    } else {
        noGuideElement.style.display = 'none';
    }
}

    </script>

    <script>
        const studente = '<%= nome %>';
        const paymentModal = document.getElementById('paymentModal');
        const instructorInput = document.getElementById('instructorInput');
        const timeInput = document.getElementById('timeInput');
        const priceInput = document.getElementById('priceInput');
        const priceLabel = document.getElementById('priceLabel');
        const causeInput = document.getElementById('causeInput');
        const numEsameInput = document.getElementById('numEsameInput');
        const locationInput = document.getElementById('locationInput');
        const bookButtons = document.querySelectorAll('.book');
        bookButtons.forEach(async(button) => {
            button.addEventListener("click", bookHandler);
        });

        async function  bookHandler(event) {
            const button = event.currentTarget;
            const instructor = button.dataset.instructor;
            const time = button.dataset.time;
            const price = button.dataset.price;
            const location = button.dataset.location
            causeInput.value = 'lesson';
            instructorInput.value = instructor;
            timeInput.value = time;
            locationInput.value = location;
            priceLabel.innerHTML = 'Procedi con il pagamento per la lezione di guida. <br> Il totale è di ' + price + '€';
            paymentModal.style.display = 'flex';
            setTimeout(() =>{
                paymentModal.style.opacity = 1;
            }, 100)
        }

        const examBtn = document.querySelector('.daPagare');
        if(examBtn){
            examBtn.addEventListener('click', () =>{
                const numEsame = examBtn.dataset.esame;
                causeInput.value = 'exam'; 
                numEsameInput.value = numEsame;
                priceLabel.innerHTML = 'Procedi con il pagamento dell\'esame di guida. <br> Il totale è di ' + 100 + '€';
                paymentModal.style.display = 'flex';
                setTimeout(() =>{
                    paymentModal.style.opacity = 1;
                }, 100)

            });
        }
        const noGuideText = document.querySelector('.noGuide');
        noGuideText.style.display = document.querySelectorAll('section') ? 'block' : 'none';
    </script>
</body>
</html>
