<!-- admin-guides.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/styles/adminguides.css"> -->
    <link rel="stylesheet" href="/styles/addGuides.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

</head>
<body>
    <%- include('header.ejs') %>


    
    <section>
    <div class="container">
        <h2>Crea una Nuova Guida</h2>
        <form action="/create-guide" method="POST">
            <% if (role.role == 'Super') { %>
                <div class="form-group">
                    <label for="instructor">Istruttore:</label>
                    <select id="instructor" name="instructor">
                        <% for( let i = 0; i < istruttori.length; i++ ) { %>
                             <option value="<%= istruttori[i].nome %> <%= istruttori[i].cognome %>"><%= istruttori[i].nome %> <%= istruttori[i].cognome %></option>
                        <% } %>
                    </select>
                </div>
            <% } %>
            <div class="form-group">
                <label for="day">Giorni:</label>
                <input type="text" id="day" name="day" readonly required>
            </div>
            <div class="form-group">
                <label for="startHour">ora di inizio:</label>
                <input type="time" id="startHour" name="startHour" required>
            </div>
            <div class="form-group">
                <label for="locationLink">Luogo Di partenza:</label>
                <input type="text" id="locationLink" name="locationLink" placeholder="Link di google maps">
            </div>
            <div class="form-group">
                <select name="Reserved" id="Reserved">
                    <option value=""></option>
                    <% for( let i = 0; i < allievi.length; i++ ) { %>
                        <option value="<%= allievi[i].email %>"><%= allievi[i].billingInfo[0].nome + ' ' + allievi[i].billingInfo[0].cognome %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="lessonsNumber">numero di guide:</label>
                <input type="number" id="lessonsNumber" name="lessonsNumber" min="1" required>
            </div>
            <label>Durata:</label>
            <div class="form-group duration">
                <div>
                    <input type="radio" id="30min" name="duration" checked="true" value="30">
                    <label for="30min">30 minuti</label>
                </div>
                <div>
                    <input type="radio" id="40min" name="duration" value="40">
                    <label for="40min">40 minuti</label>
                </div>
                <div>
                    <input type="radio" id="1hour" name="duration" value="60">
                    <label for="1hour">1 ora</label>
                </div>
                <div>
                    <input type="radio" id="2hour" name="duration" value="120">
                    <label for="2hour">2 ore</label>
                </div>
            </div>
            <button type="submit">pubblica</button>
        </form>
    </div>

    <% for (let i = 0; i < guides.length; i++) { %>
        <% const guide = guides[i]; %>
        <% for (let j = 0; j < guide.book.length; j++) { %>
            <% const day = guide.book[j]; %>
            <div class="card" data-date="<%= day.day %>" style="display: none;">
                <div class="card-header">
                    <h3>Istruttore: <%= guide.instructor %></h3>
                    <br>
                    <h3>Giorno: <%= day.day %></h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <% for (let k = 0; k < day.schedule.length; k++) { %>
                            <% const schedule = day.schedule[k]; %>
                            <li class="list-group-item">
                                <span>Ora: <%= schedule.hour %></span>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        <% } %>
    <% } %>
    
</section>


<script>
$(function() {
    $("#day").multiDatesPicker({
        dateFormat: "dd/mm/yy",
        minDate: 0, // oggi
        beforeShowDay: function(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            // Formattazione data
            var dateString = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;
            var sectionExists = $('.card[data-date="' + dateString + '"]').length > 0;
            if (sectionExists) {
                return [true, "greenDate", "Ci sono già lezioni"];
            } else {
                return [true, "greenDate", "Non ci sono ancora lezioni"];
            }
        },
        onSelect: function(dateText, inst) {
            $('.card').hide(); // Nasconde tutte le card
            var formattedDate = moment(dateText, "DD/MM/YYYY").format("DD/MM/YYYY");
            var matchingCard = $('.card[data-date="' + formattedDate + '"]');
            matchingCard.show(); // Mostra solo la card corrispondente alla data selezionata
        }
    });
});

</script>



    
    <!-- <script>
        function roundToNearestHalfHour(time) {
            var timeSplit = time.split(':');
            var hours = parseInt(timeSplit[0]);
            var minutes = parseInt(timeSplit[1]);
    
            var roundedMinutes = Math.round(minutes / 30) * 30;
            if (roundedMinutes == 60) {
                hours++;
                roundedMinutes = 0;
            }
    
            var formattedHours = ('0' + hours).slice(-2);
            var formattedMinutes = ('0' + roundedMinutes).slice(-2);
    
            return formattedHours + ':' + formattedMinutes;
        }
    
        var startHourInput = document.getElementById('startHour');
        startHourInput.addEventListener('change', function() {
            // Arrotonda l'orario alla mezz'ora più vicina
            this.value = roundToNearestHalfHour(this.value);
        });
    </script> -->

    
</body>
</html>
