<!-- admin-guides.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/adminguides.css">

    <title><%= title %></title>
</head>
<body>
    <%- include('header.ejs') %>


        <% for (let i = 0; i < guides.length; i++) { %>
            <% const guide = guides[i]; %>
            <h2><%= guide.instructor %></h2>
            <table>
                <thead>
                    <tr>
                        <th>Giorno</th>
                        <th>Ora</th>
                        <th>Prenotata</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let j = 0; j < guide.book.length; j++) { %>
                        <% const day = guide.book[j]; %>
                        <% for (let k = 0; k < day.schedule.length; k++) { %>
                            <% const schedule = day.schedule[k]; %>
                            <tr>
                                <td><%= day.day %></td>
                                <td><%= schedule.hour %></td>
                                <td>
                                    <% if(schedule.student){ %>
                                        <span class="si">SI</span>
                                    <% } else { %>
                                        <span class="no">NO</span>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        <% } %>


</body>
</html>
