<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/adminUsers.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th>Allievo</th>
                <th>Email</th>
                <th>Cellulare</th>
                <% if (istruttore == 'dave') { %>
                    <th>Esami pagati</th>
                    <th>Guide</th>
                    <th>Limitazioni</th>
                    <th>Boccia</th>
                    <th>Fatture</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% if (istruttore == 'dave') { %>
                <% for (let i = 0; i < utenti.length; i++) { %>
                    <tr>
                        <td> <%= utenti[i].userName %></td>
                        <td><%= utenti[i].email %></td>
                        <td><%= utenti[i].cell %></td>
                            <td> 
                                <% let totEsami = utenti[i].exams.length; %>
                                <% if (utenti[i].exams[totEsami-1] == true) { %>
                                    <%= totEsami %>
                                <% }else{%>
                                    <%= totEsami - 1 %>
                                <% } %>
                            </td>
                            <% let collegamento = '/admin/fatture/:'+ utenti[i].userName; %>
                            <td> <button><a href=" <%=`/admin/guideSvolte/:${utenti[i].userName}` %>" >Ore lezioni</a></button></td>
                            <td> <button class="limitation" data-student="<%= utenti[i].userName %>" data-exclude="<%= JSON.stringify(utenti[i].exclude.map(exclude => exclude.instructor)) %>">limita istruttori</button></td>
                            <td> <button class="boccia" data-student="<%= utenti[i].userName %>" data-esame="<%= JSON.stringify(utenti[i].exams) %>">Boccia</button></td>
                            <td> <a href=" <%= collegamento %> "><button class="fatture" data-student="<%= utenti[i].userName %>">Fatture</button></a></td>
                        </tr>
                <% } %>
            <% }else{ %>
                <% for (let i = 0; i < utenti.length; i++) { %>
                    <tr>
                        <td><%= utenti[i].userName %></td>
                        <td><%= utenti[i].email %></td>
                        <td><%= utenti[i].cell %></td>
                    </tr>
                <% } 
            }%>
        </tbody>
    </table>
    </div>
    <% if (istruttore == 'dave') { %>
        <div id="formContainer" style="display: none;">
            <div class="limitationButtons">
                <button id="activateExcludeForm">Aggiungi limitazioni</button>
                <button id="activateIncludeForm">Rimuovi limitazioni</button>
            </div>
            <form action="/excludeInstructor" id="excludeForm" class="form" method="POST" style="display: none;">
                <h2>Istruttori esclusi</h2>
                <input type="hidden" name="student" class="studentInput" id="excludeStudentInput" value="">
                <% for( let i = 0; i < istruttori.length; i++ ) { %>
                    <div class="instructorInput">
                        <label for="<%= istruttori[i] %>"><%= istruttori[i] %></label>
                        <input type="checkbox" class="instructorCheckBox" name="istruttori" value="<%= istruttori[i] %>">
                    </div>
                <% } %>
                <button type="submit">Conferma</button>
            </form>
            <form action="/includeInstructor" id="includeForm" class="form" method="POST" style="display: none;">
                <h2>Istruttori inclusi</h2>
                <input type="hidden" name="student" class="studentInput" id="includeStudentInput" value="">
                <% for( let i = 0; i < istruttori.length; i++ ) { %>
                    <div class="instructorInput">
                        <label for="<%= istruttori[i] %>"><%= istruttori[i] %></label>
                        <input type="checkbox" class="instructorCheckBox" name="istruttori" value="<%= istruttori[i] %>">
                    </div>
                <% } %>
                <button type="submit">Conferma</button>
            </form>
        </div>
        <script>
            const istruttori = Array('<%= istruttori %>');
            console.log(istruttori);
            const limitationBtn = document.querySelectorAll('.limitation');
            const container = document.getElementById('formContainer');
            const excludeStudentInput = document.getElementById('excludeStudentInput');
            const includeStudentInput = document.getElementById('includeStudentInput');
            const excludeForm = document.getElementById('excludeForm');
            const includeForm = document.getElementById('includeForm');
            const activateExcludeForm = document.getElementById('activateExcludeForm');    
            const activateIncludeForm = document.getElementById('activateIncludeForm');
            const instructorCheckBox = document.querySelectorAll('.instructorCheckBox');
            let excludedInstructors;
            limitationBtn.forEach(btn => {
                btn.addEventListener('click', () =>{
                    let student = btn.dataset.student;
                    excludedInstructors = JSON.parse(btn.dataset.exclude);
                    includeStudentInput.value = student;
                    excludeStudentInput.value = student;
                    container.style.display = "flex";
                    // Preseleziona i checkbox degli istruttori esclusi
                    
                });
            });

            activateExcludeForm.addEventListener('click', () =>{
                excludeForm.style.display = 'flex';
                includeForm.style.display = 'none';
                instructorCheckBox.forEach(checkbox => {
                    const instructorName = checkbox.value;
                    var label = checkbox.parentNode;
                    if (excludedInstructors.includes(instructorName)) {
                        label.style.color = 'red';
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    } else {
                        label.style.color = 'green';
                        checkbox.checked = false;
                        checkbox.disabled = false;
                    }
                }); 
            });
            activateIncludeForm.addEventListener('click', () =>{
                includeForm.style.display = 'flex';
                excludeForm.style.display = 'none';
                instructorCheckBox.forEach(checkbox => {
                    const instructorName = checkbox.value;
                    var label = checkbox.parentNode;
                    if (excludedInstructors.includes(instructorName)) {
                        label.style.color = 'red';
                        checkbox.checked = false;
                        checkbox.disabled = false;
                    } else {
                        label.style.color = 'green';
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    }
                }); 
            });


            document.querySelectorAll('.boccia').forEach(button => {
    button.addEventListener('click', () => {
        const dataEsame = button.dataset.esame;
        const esami = JSON.parse(dataEsame);
        let posizioneBocciato;

        for (let i = 0; i < esami.length; i++) {
            const esame = esami[i];
            if (esame.paid && !esame.bocciato) {
                posizioneBocciato = i;
                break;
            }
        }
        const studente = button.dataset.student;
        if (confirm(`Sei sicuro di voler bocciare ${studente}?`)) {
            fetch('/boccia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ studente, posizioneBocciato })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Errore nella richiesta');
                }
                return response.json();
            })
            .then(data => {
                alert(data);
                window.location.reload();
            })
            .catch(error => {
                console.error('Si è verificato un errore:', error);
            });
        } else {

        }
        
    });
});


        </script>
    <% }%>




</body>
</html>