<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/adminUsers.css">
    <title><%= title %></title>
    <!-- icone -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <%- include('header.ejs') %>
    <div class="filterSection">
        <div class="field">
            <label for="searchName">Cerca per nome:</label>
            <input type="text" id="searchName" name="searchName">
        </div>
        <div class="field">
            <label for="searchPhone">Cerca per numero di telefono:</label>
            <input type="tel" id="searchPhone" name="searchPhone">
        </div>
        <div class="field">
            <label for="searchEmail">Cerca per Email:</label>
            <input type="email" id="searchEmail" name="searchEmail">
        </div>
        <div class="field">
            <label for="searchExams">Cerca per numero di esami:</label>
            <input type="number" id="searchExams" name="searchExams" min="0">
        </div>
        <div class="field">
            <button id="copiaEmail" name="copiaEmail">Copia Email</button>
        </div>
    </div>
    
    <div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th>Allievo</th>
                <th>Email</th>
                <th>Cellulare</th>
                <th>Esami pagati</th>
                <th>Guide</th>
                <th>Limitazioni</th>
                <th>Boccia</th>
                <th>Fatture</th>
            </tr>
        </thead>
        <tbody>

                <% for (let i = 0; i < utenti.length; i++) { %>
                    <tr>
                        <td data-label="Allievo"><span><%= utenti[i].billingInfo[0].nome %> <%= utenti[i].billingInfo[0].cognome %></span></td>
                        <td data-label="Email" data-email="<%= utenti[i].email %>"><span><%= utenti[i].email %></span></td>
                        <td data-label="Cellulare"><span><%= utenti[i].cell %></span></td>
                            <td data-label="Esami pagati"> 
                                <span>
                                    <% let totEsami = utenti[i].exams.length; %>
                                    <% if (utenti[i].exams[totEsami-1] == true) { %>
                                        <%= totEsami %>
                                    <% }else{%>
                                        <%= totEsami - 1 %>
                                    <% } %>
                                </span>
                            </td>
                            <% let collegamento = '/admin/fatture/:'+ utenti[i].userName; %>
                            <td data-label="Guide"> <button class="tableBtn"><a href=" <%=`/admin/guideSvolte/:${utenti[i].userName}` %>" >Ore lezioni</a></button></td>
                            <td data-label="Limitazioni"> <button class="limitation tableBtn" data-student="<%= utenti[i].userName %>" data-exclude="<%= JSON.stringify(utenti[i].exclude.map(exclude => exclude.instructor)) %>">limita istruttori</button></td>
                            <td data-label="Boccia"> <button class="boccia tableBtn" data-student="<%= utenti[i].userName %>" data-esame="<%= JSON.stringify(utenti[i].exams) %>">Boccia</button></td>
                            <td data-label="Fatture"> <a href=" <%= collegamento %> "><button class="fatture tableBtn" data-student="<%= utenti[i].userName %>">Fatture</button></a></td>
                        </tr>
                <% } %>
            
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#searchName, #searchPhone, #searchEmail, #searchExams').on('input', function() {
            var nameFilter = $('#searchName').val().toLowerCase();
            var phoneFilter = $('#searchPhone').val().toLowerCase();
            var emailFilter = $('#searchEmail').val().toLowerCase();
            var examsFilter = parseInt($('#searchExams').val());

            $('tbody tr').each(function() {
                var name = $(this).find('td:nth-child(1)').text().toLowerCase();
                var phone = $(this).find('td:nth-child(3)').text().toLowerCase();
                var email = $(this).find('td:nth-child(2)').text().toLowerCase();
                var exams = parseInt($(this).find('td:nth-child(4)').text());

                var nameMatch = name.includes(nameFilter);
                var phoneMatch = phone.includes(phoneFilter);
                var emailMatch = email.includes(emailFilter);
                var examsMatch = isNaN(examsFilter) || exams === examsFilter;

                if (nameMatch && phoneMatch && emailMatch && examsMatch) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

<script>
document.getElementById('copiaEmail').addEventListener('click', function() {
    // Seleziona tutte le righe <tr> che contengono gli indirizzi email visibili
    var visibleEmailRows = document.querySelectorAll('tr:not([style*="display:none"])');

    // Crea un array vuoto per memorizzare gli indirizzi email visibili
    var visibleEmails = [];

    // Itera su tutte le righe visibili
    visibleEmailRows.forEach(function(row) {
        // Seleziona il <td> all'interno della riga corrente
        var td = row.querySelector('td[data-label="Email"]');
        // Se l'elemento <td> è presente e visibile
        if (td && (td.offsetWidth > 0 || td.offsetHeight > 0)) {
            // Aggiungi l'indirizzo email all'array
            visibleEmails.push(td.dataset.email);
        }
    });

    // Unisci gli indirizzi email visibili in una stringa separata da virgole
    var emailsString = visibleEmails.join(', ');

    // Copia la stringa degli indirizzi email negli appunti
    navigator.clipboard.writeText(emailsString).then(function() {
        alert('Indirizzi email visibili copiati negli appunti: ' + emailsString);
    }).catch(function(err) {
        console.error('Errore durante la copia negli appunti:', err);
    });
});

</script>


    </div>
        <div id="formContainer" style="display: none;">
            <a href=" ">
                <span class="material-symbols-outlined">
                    cancel
                </span>
            </a>
            <div class="limitationButtons">
                <button id="activateExcludeForm">Aggiungi limitazioni</button>
                <button id="activateIncludeForm">Rimuovi limitazioni</button>
            </div>
            <form action="/excludeInstructor" id="excludeForm" class="form" method="POST" style="display: none;">
                <h2>Istruttori esclusi</h2>
                <input type="hidden" name="student" class="studentInput" id="excludeStudentInput" value="">
                <% for( let i = 0; i < istruttori.length; i++ ) { %>
                    <div class="instructorInput">
                        <label for="<%= istruttori[i].nome %> <%= istruttori[i].cognome %>"><%= istruttori[i] %> <%= istruttori[i].cognome %></label>
                        <input type="checkbox" class="instructorCheckBox" name="istruttori" value="<%= istruttori[i] %>">
                    </div>
                <% } %>
                <button type="submit">Conferma</button>
            </form>
            <form action="/includeInstructor" id="includeForm" class="form" method="POST" style="display: none;">
                <h2>Istruttori inclusi</h2>
                <input type="hidden" name="student" class="studentInput" id="includeStudentInput" value="">
                <% for( let i = 0; i < istruttori.length; i++ ) { %>
                    <div class="instructorInput">
                        <label for="<%= istruttori[i].nome %> <%= istruttori[i].cognome %>"><%= istruttori[i] %> <%= istruttori[i].cognome %></label>
                        <input type="checkbox" class="instructorCheckBox" name="istruttori" value="<%= istruttori[i] %>">
                    </div>
                <% } %>
                <button type="submit">Conferma</button>
            </form>
        </div>
        <script>
            const istruttori = Array('<%= istruttori %>');
            console.log(istruttori);
            const limitationBtn = document.querySelectorAll('.limitation');
            const container = document.getElementById('formContainer');
            const excludeStudentInput = document.getElementById('excludeStudentInput');
            const includeStudentInput = document.getElementById('includeStudentInput');
            const excludeForm = document.getElementById('excludeForm');
            const includeForm = document.getElementById('includeForm');
            const activateExcludeForm = document.getElementById('activateExcludeForm');    
            const activateIncludeForm = document.getElementById('activateIncludeForm');
            const instructorCheckBox = document.querySelectorAll('.instructorCheckBox');
            let excludedInstructors;
            limitationBtn.forEach(btn => {
                btn.addEventListener('click', () =>{
                    let student = btn.dataset.student;
                    excludedInstructors = JSON.parse(btn.dataset.exclude);
                    includeStudentInput.value = student;
                    excludeStudentInput.value = student;
                    container.style.display = "flex";
                    // Preseleziona i checkbox degli istruttori esclusi
                    
                });
            });

            activateExcludeForm.addEventListener('click', () =>{
                excludeForm.style.display = 'flex';
                includeForm.style.display = 'none';
                instructorCheckBox.forEach(checkbox => {
                    const instructorName = checkbox.value;
                    var label = checkbox.parentNode;
                    if (excludedInstructors.includes(instructorName)) {
                        label.style.color = 'red';
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    } else {
                        label.style.color = 'green';
                        checkbox.checked = false;
                        checkbox.disabled = false;
                    }
                }); 
            });
            activateIncludeForm.addEventListener('click', () =>{
                includeForm.style.display = 'flex';
                excludeForm.style.display = 'none';
                instructorCheckBox.forEach(checkbox => {
                    const instructorName = checkbox.value;
                    var label = checkbox.parentNode;
                    if (excludedInstructors.includes(instructorName)) {
                        label.style.color = 'red';
                        checkbox.checked = false;
                        checkbox.disabled = false;
                    } else {
                        label.style.color = 'green';
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    }
                }); 
            });


            document.querySelectorAll('.boccia').forEach(button => {
    button.addEventListener('click', () => {
        const dataEsame = button.dataset.esame;
        const esami = JSON.parse(dataEsame);
        let posizioneBocciato;

        for (let i = 0; i < esami.length; i++) {
            const esame = esami[i];
            if (esame.paid && !esame.bocciato) {
                posizioneBocciato = i;
                break;
            }
        }
        const studente = button.dataset.student;
        if (confirm(`Sei sicuro di voler bocciare ${studente}?`)) {
            fetch('/boccia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ studente, posizioneBocciato })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Errore nella richiesta');
                }
                return response.json();
            })
            .then(data => {
                alert(data);
                window.location.reload();
            })
            .catch(error => {
                console.error('Si è verificato un errore:', error);
            });
        } else {

        }
        
    });
});


        </script>




</body>
</html>