<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/authUsers.css">
    <title><%= title %></title>
    
</head>
<body>
    <%- include('header.ejs') %>
    <main>
    <form id="userTypeForm">
      <label for="userType">Seleziona il tipo di utente:</label>
      <select name="userType" id="userType">
          <option value="students">Allievi</option>
          <option value="admins">Istruttori</option>
      </select>
      <button class="visualizza" type="submit">Visualizza</button>
  </form>
  
    <div id="studentsList" class="approval-list">
    <%if(needApprovalStudents != '') { %>
    <div id="cards">
        <% needApprovalStudents.forEach(function(item) { %>
          <div class="user-card">
            <div class="user-card-header">
              <h3>Username: <%= item.userName %></h3>
            </div>
            <ul class="user-info">
              <li><strong>Email:</strong> <%= item.email %></li>
              <li><strong>Cell:</strong> <%= item.cell %></li>
            </ul>
            <div class="buttons">
                <form action="/approveUser" method="POST">
                  <input type="hidden" name="userName" value="<%= item.userName %>">
                  <input type="hidden" name="email" value="<%= item.email %>">
                  <input type="hidden" name="cell" value="<%= item.cell %>">
                  <button type="submit" class="approve-button">Approva</button>
                </form>
                <form action="/disapproveUser" method="POST">
                  <input type="hidden" name="userName" value="<%= item.userName %>">
                  <input type="hidden" name="email" value="<%= item.email %>">
                  <input type="hidden" name="cell" value="<%= item.cell %>">
                  <button type="submit" class="disapprove-button">Disapprova</button>
                </form>
            </div>
          </div>
        <% }); %>
      </div>
      <% } else{ %>
        <h1>Non ci sono allievi in attesa di approvazione</h1>
      <% } %>
      </div>


      <div id="adminsList" class="approval-list" style="display: none;">
      <%if(needApprovalAdmins != '') { %>
        <div id="cards">
            <% needApprovalAdmins.forEach(function(item) { %>
              <div class="user-card">
                <div class="user-card-header">
                  <h3>istruttore: <%= item.nome %> <%= item.cognome %></h3>
                </div>
                <ul class="user-info">
                  <li><strong>Email:</strong> <%= item.email %></li> 
                  <!--<li><strong>Cell:</strong> <%= item.cell %></li> -->
                </ul>
                <div class="buttons">
                    <form action="/approveAdmin" method="POST">
                      <input type="hidden" name="email" value="<%= item.email %>">
                      <button type="submit" class="approve-button">Approva</button>
                    </form>
                    <form action="/disapproveAdmin" method="POST">
                      <input type="hidden" name="email" value="<%= item.email %>">
                      <button type="submit" class="disapprove-button">Disapprova</button>
                    </form>
                </div>
              </div>
            <% }); %>
          </div>
          <% } else{ %>
            <h1>Non ci sono istruttori in attesa di approvazione</h1>
          <% } %>
        </div>


        <script>
          const userTypeForm = document.getElementById('userTypeForm');
          const studentsListDiv = document.getElementById('studentsList');
          const adminsListDiv = document.getElementById('adminsList');
      
          userTypeForm.addEventListener('submit', function(event) {
              event.preventDefault();
              
              const userType = userTypeForm.userType.value;
              
              if (userType === 'students') {
                  studentsListDiv.style.display = 'block';
                  adminsListDiv.style.display = 'none';
              } else if (userType === 'admins') {
                  studentsListDiv.style.display = 'none';
                  adminsListDiv.style.display = 'block';
              }
          });
      </script>
      </main>
</body>
</html>