<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            background-color: #71a1cb;
            color: white;
        }
        main{
            display: flex;
            flex-wrap: wrap;
        }
        form {
            background-color: #f1f1f1;
            padding: 20px;
            margin: 20px auto;
            margin-top: 200px;
            max-width: 250px;
            width: 100%;
            border-radius: 8px; 
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        label {
            color: #000;
            display: block;
            margin-bottom: 10px;
        }
    
        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-block: 20px;
            border: none;
            border-radius: 5px;
            background-color: #71a1cb;
            outline: none;
            color: white;
        }
    
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    
        button:hover {
            background-color: #45a049;
        }
    </style>
    
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <form action="/admin/editPrezzi" method="POST">
            <label for="drivingLessonPrice">Prezzo 1 ora di guida: </label>
            <input type="number" name="drivingLessonPrice" id="drivingLessonPrice" min="1" value="<%= prices[0].prezzo %>">
            <button type="submit">Aggiorna</button>
        </form>
        <form action="/admin/editPrezzi" method="POST">
            <label for="examPrice">Prezzo Esame: </label>
            <input type="number" name="examPrice" id="examPrice" min="1" value="<%= prices[0].prezzoEsame %>">
            <button type="submit">Aggiorna</button>
        </form>
        <form action="/admin/editPrezzi" method="POST">
            <label for="pacchettoPrice">Prezzo Esame: </label>
            <input type="number" name="pacchettoPrice" id="pacchettoPrice" min="1" value="<%= prices[0].prezzoPacchetto %>">
            <button type="submit">Aggiorna</button>
        </form>
    </main>
</body>
</html>
